.Template {

  .template_area {
    width: 100%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    padding-top: 3vh;

    .outside {
      width: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slide_wrapper {
      width: 95%;
      position: relative;
      overflow: hidden;
      display: inline-block;

      .slide_area {
        width: 700%;
        display: flex;
      }
    }
  }
}

.Sound_bar_area {
  display: flex;
  justify-content: center;
  background-color: #222222;
}

@media screen and (max-width: 480px) {
  .Template {

    .template_area {
      width: 100%;
  
      .outside {
        width: 10%;
      }
  
      .slide_wrapper {
        width: 80%;
      }
    }
  }
}
