.template {
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  padding-top: 3vh;

  .outside {
    display: flex;
    align-items: center;
  }

  .slide_wrapper {
    width: 88%;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
}

.slide_area {
  width: 700%;
  display: flex;
}

.sound_bar {
  display: flex;
  justify-content: center;
  background-color: #222222;
}