.presentation_area {
    width: 14.2%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
