.textarea {
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 95%;
    height: 500px;
    font-size: 16px;
    background-color: #444444;
    color: #FFFFFF;
    padding: 5vh 2vw 0;
}
