.Button_area {
    width: 25%;
    background-color: #FFFFFF;
    margin: 3vh 0;
    display: flex;
    justify-content: center;

    .play_button {
        background-color: #008000;
        color: #FFFFFF;
        margin: 3vh 1vw;
        width: 20%;
        border-radius: 5px;
        padding: 1vh 1vw;
    }

    .stop_button {
        background-color: #FF0000;
        color: #FFFFFF;
        margin: 3vh 1vw;
        width: 20%;
        border-radius: 5px;
        padding: 1vh 1vw;
    }

    .pause_button {
        background-color: #C0C0C0;
        color: #FFFFFF;
        margin: 3vh 1vw;
        width: 20%;
        border-radius: 5px;
        padding: 1vh 1vw;
    }
}

@media screen and (max-width: 480px) {
    .Button_area {
        width: 80%;
        background-color: #FFFFFF;
        margin: 3vh 0;
        display: flex;
        justify-content: center;
        position: sticky;
    
        .play_button {
            background-color: #008000;
            color: #FFFFFF;
            margin: 3vh 1vw;
            width: 20%;
            border-radius: 5px;
        }
    
        .stop_button {
            background-color: #FF0000;
            color: #FFFFFF;
            margin: 3vh 1vw;
            width: 20%;
            border-radius: 5px;
        }
    
        .pause_button {
            background-color: #C0C0C0;
            color: #FFFFFF;
            margin: 3vh 1vw;
            width: 20%;
            border-radius: 5px;
        }
    }
}
